<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Across The Globe" />
    <meta property="og:image" content="img/site-img.png" />
    <meta property="og:image:secure_url" content="img/site-img.png" />
    <meta property="og:title" content="<%=metaTag.ogTitle %>" />
    <meta property="og:description" content="<%=metaTag.description %>" />
    <link rel="icon" type="image/png" href="img/favicon.ico" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <title>Across The Globe</title>
</head>

<body>
    <nav class="navbar navbar-light" style="background-color: #e9ecef">
        <a class="navbar-brand" href="/">
            <img src="img/site-img.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy" />
            Across The Globe
        </a>
    </nav>
    <% if(!fb){ %>
    <div class="container mt-5 shadow-sm p-3 mb-5 bg-white rounded">
        <h2><%=metaTag.title %></h2>
        <hr>
        <% if(metaTag.ogImage){ %>
            <img src="<%=metaTag.ogImage %>" class="img-fluid"> <br>
        <% } %>    
        <% if(metaTag.ogDescription){ %>
        <%-metaTag.ogDescription %> <br>
        <% } else if(metaTag.description){ %>
        <%-metaTag.description %> <br>
        <% } %>
            <a href="<%=url %>" class="btn btn-primary mt-3">View More</a>
    </div>
    <% } %>
</body>

</html>