<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" type="image/png" href="img/favicon.ico"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <title>Across the Globe</title>
    <style>
        .input-group-append .tooltiptext {
            visibility: hidden;
            width: 80px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -50px;
            opacity: 0;
            transition: opacity 0.3s;
        }

        .input-group-append .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

        .input-group-append:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }

        .copy-area input[type="text"], .copy-area button{
            outline: none;
            box-shadow:none !important;
            border:1px solid #ccc !important;
        }
        #get-link:hover{
            background: black;
        }
        @media only screen and (min-width: 992px){
            #get-link {
                float: right;
            }
            #main-url {
                width: 820px;
            }
        }
        @media only screen and (min-width: 1200px){
            #main-url {
                width: 1000px;
            }
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-light" style="background-color: #e9ecef">
        <a class="navbar-brand" href="/">
            <img src="img/site-img.png" width="30" height="30"
                class="d-inline-block align-top" alt="" loading="lazy"/>
            Across The Globe
        </a>
    </nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Link Share</h1>
            <p class="lead">Get Shareable links!</p>
        </div>
    </div>
    <div class="container">
        <form id="input-form">
        <div class="row text-center">
            <div class="col-lg-10 col-md-12">
                <input required id="main-url" autocomplete="off" placeholder="Url" type="text" class="form-control mr-2 shadow p-4 mb-3 bg-white rounded" spellcheck="false" />
            </div>
            <div class="col-lg-2 col-md-12">
                <button id="get-link" class="btn btn-outline-secondary shadow rounded mb-5" type="submit" style="padding:12px;">
                    Get Link
                </button>
            </div>
        </div>
     </form>
        <div class="row copy-area">
            <div class="input-group mb-3 mx-3">
                <input id="copy-field" type="text" class="form-control" readonly="readonly">
                <div class="input-group-append">
                    <button id="copy-btn" class="btn btn-outline-secondary" type="button" onmouseout="outFunc()">
                        <span class="tooltiptext" id="myTooltip">Copy url</span>
                        Copy
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function enc(str) {
        var arr1 = [];
        for (var n = 0, l = str.length; n < l; n ++) {
            var hex = Number(str.charCodeAt(n)).toString(16);
            arr1.push(hex);
        }
        return arr1.join('');
    }
    document.querySelector('#input-form').addEventListener("submit", function(e){
        e.preventDefault();
        var main_url = encodeURI(document.querySelector('#main-url').value);
        qry_url = main_url.replace(/^(?:https?:\/\/)?(?:www\.)?/i, "");
        enc_url = enc(qry_url);
        document.querySelector('#copy-field').value = window.location.origin + '/r/' + enc_url;
        document.querySelector('#copy-field').select();
    });
    document.querySelector('#copy-btn').addEventListener("click", function(e){
        var copyText = document.getElementById("copy-field");
        if(copyText.value != ""){
            copyText.select();
            copyText.setSelectionRange(0, 99999); /*For mobile devices*/
            document.execCommand("copy");
            var tooltip = document.getElementById("myTooltip");
            tooltip.innerHTML = "Copied"
        }
    });
    function outFunc() {
        var tooltip = document.getElementById("myTooltip");
        tooltip.innerHTML = "Copy url";
    }
</script>
</html>